
{% block fos_user_content %}

<div class="article" id="reset_form">
  <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="top">
      <img class="logo" src="{{ asset('img/reset.png') }}"/>
      <div>
          {% if invalid_username is defined %}
              <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
          {% endif %}
          <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
          <input type="text" id="username" name="username" required="required" />
      </div>
    </div>
    <div class="bottom">
      <div>
          <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
      </div>
    </div>
  </form>
</div>

{% endblock fos_user_content %}
